header h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15px;
}

header h1 img {
    height: 68px;
    width: 68px;
}

header {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    background-color: rgb(4, 57, 156);
    position: absolute;
    width: 100%;
    padding: 25px;
    top: 0;
    left: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    margin-left: -30px;
    padding-right: 32px;
    margin-bottom: -40px;
}

#navbar {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li {
    float: left;
    width: 15%;
}

ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}